
# directorio upload
upload/

# Caché de Python
__pycache__/
*.pyc

# Archivos SQLite
*.sqlite

# Archivos temporales de SQLite
*.sqlite-shm
*.sqlite-wal

# Logs de sistema y pruebas
log/
logs/
*.log

# Archivos de salida de datos (Excel / ODS)
out/
*.xlsx
*.ods
.~lock.*

# Archivos de configuración locales duplicados con fecha
*_2026[0-9]*